/******* Font 
***********************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700);

body, p {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
}

/******* Layout 
***********************/
.custom-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}